<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zananda.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp">
        <activity
            android:name="com.zananda.movieapp.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.MovieApp.NoActionBar"></activity>
        <activity
            android:name="com.zananda.movieapp.BottomNav"
            android:label="@string/title_activity_bottom_nav"
            android:theme="@style/Theme.MovieApp.NoActionBar"></activity>
        <activity android:name="com.zananda.movieapp.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zananda.movieapp.MainActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>